.box {
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
